/* banner section - Properties Page */
.banner-prop-page {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    /* align-content: center; */
}
    /* background image - banner section - Properties Page*/
    .banner-prop-page img {
        width: 100%;
        position: relative;
    }
    .heading-prop-page {
        position: absolute;
        flex: 1;
        align-self: center;
        display: flex;
        flex-direction: column;
        /* border: 1px solid white; */
    }
    /* heading & title (on bg-image) - banner section - Properties Page */
    .local-path-prop-page {
        flex: 1;
        font-size: 10px;
        font-weight: bold;
        /* text-align: center; */
        max-width: fit-content;
        align-self: center;
        background-color: white;
        padding: 10px;
        text-align: center;
    }
    .title-prop-page {
        flex: 1;
        color: white;
        font-size: 2rem;
        font-weight:900;
        text-align: center;
    }

/* categorised links - property cards section - Property Page */
.categories-link-prop-cards {
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    /* min-width: 120px; */
    /* border: 1px solid red; */
    justify-content: center;
    gap: 1rem 2rem;
    padding: 4rem 1rem 2rem;

}
.categories-link-prop-cards a {
    flex: 1;
    text-align: center;
    max-width: fit-content;
    min-width: 90px;
    /* border: 1px solid blue; */
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.categories-link-prop-cards a:hover {
    background-color: orangered;
}

/* properties page counter/link - property cards - Properties Page */
.pageCounterLinks-propCards {
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    /* min-width: 120px; */
    /* border: 1px solid red; */
    justify-content: center;
    gap: 1rem 2rem;
    padding: 2rem 1rem 4rem;
}
.pageCounterLinks-propCards a {
    flex: 1;
    text-align: center;
    max-width: fit-content;
    max-height: fit-content;
    /* justify-items: center; */
    /* min-width: 90px; */
    /* border: 1px solid blue; */
    padding: 10px 15px;
    margin-top: 4px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.pageCounterLinks-propCards a:last-child {
    padding: 15px;
    margin: 0;
    border-radius: 30px;
}
.pageCounterLinks-propCards a:hover {
    background-color: orangered;
}