/* horizontal contacts bar, first row of the page layout*/
a {
    text-decoration: none;
}
hr {
    /* padding: 10px 0; */
    margin: 0;
    border: none;
    border-top: 1px solid lightgray;
}

.hr-contact-bar {
    display: flex;
    padding: 0 5%;
    margin: 10px 0px; 
    justify-content: space-between;
}

.address-links {
    flex: 1;
    display: flex;
    gap: 20px;
    /* justify-content:space-between ; */

}

.icon-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* horizontal menu bar, second row of the page layout */
.hr-menu-bar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 0 5%;
    margin: 0;
    /* margin: 1%; */
    /* text-align: center; */
    align-items: center;
    overflow-y: hidden;
}
.page-icon {
    flex: 1;
    /* gap: 10px; */
}
.menus {
    flex: 1;
    display: flex;
    justify-items: flex-end;
    justify-content:space-evenly;
    gap: 10px;
    align-items: center;
}
.menus a:hover {
    color: orangered;
}
.visit-text {
    background-color: black;
    color: orangered;
    min-width: 149.5px;
    padding-left: 0px;
    padding-right: 12px;
    border-radius: 20px;
    gap: 1rem;
    text-align: center;
}
.visit-text div i {
    background-color: orangered;
    color: white;
    padding: 12px;
    border-radius: 20px;
    gap: 10px;
}

.banner-hr-scroll {
    display: flex;
    padding: 1%;
    max-width: 100%;
    height: auto;
    gap: 5px;
    justify-content: space-around;
    align-content: center;
    /* align-items: ; */
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;
}

.banner {
    /* background-image: url('images/banner-01.jpg'); */
    /* border: 2px solid black; */
    /* margin: 2px solid red; */
    /* margin: 0; */
    /* flex: 1; */
    position: relative;
    /* display: flex;
    align-items: center; */
    min-width: 100%;
    /* max-height:100%; */
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-items: center; */
}
.banner img {
  width: 100%;
  height: auto;
  display: block;
}
.prop-location {
    position: absolute;
    /* border: 1px solid black; */
    /* margin: 1px solid red; */
  top: 30%;        /* move to vertical center */
  left: 20%;       /* move to horizontal center */
  transform: translate(-57%, -50%); /* perfect centering */
  color: black;
  background-color: white;
  padding: 2px 4px;
  font-size: 2rem;
  /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
}
.prop-pitch {
position: absolute;
    /* border: 1px solid black; */
    /* margin: 1px solid red; */
  top: 50%;        /* move to vertical center */
  left: 20%;       /* move to horizontal center */
  transform: translate(-50%, -50%); /* perfect centering */
  color: white;
  /* background-color: white; */
  font-size: 2rem;
  font-weight: bolder;
  /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
}
