/* horizontal contacts bar, first row of the page layout*/
a {
    text-decoration: none;
}
hr {
    /* padding: 10px 0; */
    margin: 0;
    border: none;
    border-top: 1px solid lightgray;
}

.hr-contact-bar {
    display: flex;
    padding: 0 5%;
    margin: 10px 0px; 
    justify-content: space-between;
}

.address-links {
    flex: 1;
    display: flex;
    gap: 20px;
    /* justify-content:space-between ; */

}

.icon-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* horizontal menu bar, second row of the page layout */
.hr-menu-bar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 0 5%;
    margin: 0;
    /* margin: 1%; */
    /* text-align: center; */
    align-items: center;
    /* spent a day to find out, mobile menu was hidden by this overflow-y: hidden;*/
    overflow-y: visible;  
}
.hamberger-menu {
    display: none;
}
.page-icon {
    flex: 1;
    padding:0;
    margin: 0;
    /* gap: 10px; */
}
.menus {
    flex: 1;
    display: flex;
    justify-items: flex-end;
    justify-content:space-evenly;
    gap: 10px;
    align-items: center;
}
.menus a:hover {
    color: orangered;
}
.visit-link {
    background-color: black;
    color: orangered;
    min-width: 149.5px;
    padding-left: 0px;
    padding-right: 12px;
    border-radius: 20px;
    gap: 1rem;
    text-align: center;
}
.visit-link div i {
    background-color: orangered;
    color: white;
    padding: 12px;
    border-radius: 20px;
    gap: 10px;
}

.banner-hr-scroll {
    display: flex;
    padding: 1%;
    max-width: 100%;
    height: auto;
    gap: 5px;
    justify-content: space-evenly;
    align-content: center;
    /* align-items: ; */
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;

    position: relative; /* ✅ makes stacking context clear */
    /* z-index: 1;         ✅ ensures banners stay below menus */
}

.banner {
    /* background-image: url('images/banner-01.jpg'); */
    /* border: 2px solid black; */
    /* margin: 2px solid red; */
    /* margin: 0; */
    /* flex: 1; */
    position: relative;
    /* display: flex;
    align-items: center; */
    min-width: 100%;
    /* z-index: 0; */
    /* max-height:100%; */
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-items: center; */
}
.banner img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  /* z-in dex: 1; */
}

.prop-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 30%;
    left: 30%;
    /* min-width: fit-content; */
    height: 10%;
    padding: 0;
    margin: 0;
    
    justify-items: flex-start;
    justify-content: space-between;

}
.prop-location {
    /* position: absolute; */
    /* border: 1px solid black; */
    /* margin: 1px solid red; */
  /* top: 30%;        move to vertical center */
  /* left: 20%;       move to horizontal center */
  flex: 1;
  transform: translate(-80%, -70%); 
  color: black;
  background-color: white;
  padding: 2px 4px;
  font-size:larger;
  height: min-content;
  width: fit-content;
    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
}
.prop-pitch {
/* position: absolute; */
    /* border: 1px solid black; */
    /* margin: 1px solid red; */
  /* top: 50%;        move to vertical center */
  /* left: 20%;       move to horizontal center */
  flex: 1;
  transform: translate(-28%, -10%); 
  color: white;
  /* background-color: white; */
  font-size: 50px;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
}


/* featured section */

.featured {
    /* width: 90%; */
    align-self: center;
    padding: 10% 10% 10%;
    max-width: 100%;
    /* max-height: 400px; */
    overflow-y: hidden;
    display: flex;
    justify-items: center;
    align-items: flex-start;
    justify-content: center;
    /* align-content: center; */
    border: 1px solid red;
}

.title-featured-mobile-vw {
    display: none;
}
.heading-featured-mobile-vw {
    display: none;
}

.featured-image {
    position: relative;
    flex: 3;
    width: 100%;
    /* border: 1px solid rebeccapurple; */
    /* max-width: 220px; */
}
 .featured-image img {
    width: 100%;
    height: auto;
    /* padding: 0% 10%; */
 }

.featured-image-icon {
    padding: 25px;
    border-radius: 50px;
    background-color: orangered;
    position: absolute;
    top: 85%;
    left: -18%;
}
.featured-image-icon img {
    /* flex: 1; */
    /* position: absolute;
    z-index: 10;
    top:95%;
    left: 0px; */
    background-color: orangered;
    padding: 0;
    /* margin: 5px; */

    width: 40px;
    height: 40px;
    /* border-radius: 50px; */
    /* border: 10px solid red; */
}




/* middle column, accordion, featured text content */
.featured-details {
    flex: 4;
    /* border: 1px solid rebeccapurple; */
}
.title-featured {
    font-size: 100%;
    font-weight: bolder;
    color: orangered;
    width: 90%;
  margin: 0px auto;
}
.heading-featured {
    font-size: 200%;
    font-weight: bolder;
    /* color: orangered; */
    width: 90%;
  margin: 20px auto;
}
/* Accordion container */
.accordion {
  width: 90%;
  margin: 20px auto;
  font-family: sans-serif;
}
/* Accordion heading container */
.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
}
/* Hide the radio buttons linked to accordion heading*/
.accordion input[type="radio"] {
  display: none;
}
/* Accordion heading text*/
.accordion-label {
  display: block;
  background: #f2f2f2;
  color: orangered;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}
/* Accordion heading effect */
.accordion-label:hover {
  background: rgb(252, 252, 252);
  color: orangered ;
}
/* The collapsible content */
.accordion-content {
  max-height: 0;
  overflow: hidden;
  background: lightgray;
  transition: max-height 0.4s ease, padding 0.4s ease;
  padding: 0 10px;
}
/* When checked → show content */
.accordion input[type="radio"]:checked + .accordion-label + .accordion-content {
  max-height: 200px;
  padding: 10px;
}





/* featured info */

.featured-info {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 100%;
    /* height:; */
    padding: 2% 0;
    padding-bottom: 0%; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* border: 1px solid rebeccapurple; */
}

.featured-info-item-description b {
    font-size: larger;
    /* border: 1px solid red; */
}
.featured-info-item-description p {
    padding: 0%;
    color: rgb(168, 167, 167);
    /* border: 1px solid red; */
}


/* styling each item (of 4 items) of featured info in right column */
.featured-info-item {
    flex: 1;
    display: flex;
    padding: 5%;
    /* padding-bottom: 2%; */
    margin: 0;
    /* align-content: center; */
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    /* row-gap: 10px; */ 
}

.featured-info-item-icon {
    flex: 1;
    padding: 5px;
    /* border: 1px solid greenyellow; */
}
.featured-image-icon img {
    padding: 0;
    margin: 0;
}
.featured-info-item-description {
    flex: 3;
    padding: 5px;
    /* border: 1px solid violet; */
}

/* Video View section: a dummy video with poster , controls, placed on a background image */
.video-view-container {
    max-width: 100vw;
    padding-bottom: 75px;
    /* overflow: hidden; */
    /* margin: 0 auto; */
}
.video-view-bg {
    width: 100%;
     position: relative;
}
.video-view-bg img{
    width: 100%;
}
.video-view-bg-text {
    position: absolute;
    top: 70px;
    left: 40%;
    align-self: center;
    text-align: center;
}
.video-view-bg-text .title{
    color: orangered;
    font-size: large;
    font-weight: bold;
}
.video-view-bg-text p {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}
.video-view {
    position: absolute;
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 0;
    margin: 0;
    max-width: 70%;
    top: 60%;
  left: 15%;
  /* right: auto; */
  /* transform: translate(-50%, -50%); */
}
.video-view video {
    width: 100%;
    border-radius: 10px;
}

/* video view footer cards */
.video-view-footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 300px;
    /* border: 1px solid greenyellow; */
    justify-content: space-evenly;
    /* align-content: space-evenly; */
    align-content: center;
    align-items: center;
}
.video-view-footer-cards {
    flex: 1;
    display: flex;
    max-width: 16%;
    min-width: 150px;
    padding: 20px;
    background-color: rgba(255, 69, 0, 0.1);
    /* border: 1px solid red; */
    border-radius: 5px;
}
.video-view-footer-cards b {
    flex: 1;
    padding: 0;
    margin: 0;
    text-align: center;
    align-self: center;
    font-size: 50px;
    color: orangered;
    font-weight: bolder;
    padding-right: 20px;
    /* border: 1px solid greenyellow; */
}
.video-view-footer-cards p {
    flex: 3;
    padding: 0;
    margin: 0;
    text-align: left;
    align-self: center;
    font-weight: bold;
    /* border: 1px solid black; */
}

/* best deal section - another flexbox level layout within an iframe 
 to present a card, image and details, with clikable options  */

/* Best Deal Section Container */
 .best-deal { 
    background-color: rgba(211, 211, 211, 0.2);
    padding: 5%;
}
    .best-deal-header {
        display: flex;
        flex-wrap: wrap;
        padding: 0 2%;
        justify-content: space-between;
        /* border: 1px solid red; */
        /* align-content: flex-end;  */
    }
    .best-deal-header-text {
        flex: 1;
        display: flex;
        max-width: 30%;
        padding: 0;
        margin: 0;
        /* justify-content: flex-start; */
        align-content: flex-end;
        /* border: 1px solid red; */
        /* display: flex; */
    }
        .best-deal-header-text b{
           color: red;
           font-size: medium;
           /* padding: 25% 0; */
           font-weight: bold;
        }
        .best-deal-header-text p{
            font-size: xx-large;
            font-weight: bolder;
            padding: 0;
            margin: 0;
        }
    .best-deal-header-menu {
        flex: 1;
        /* justify-self: flex-end; */
        align-self: flex-end;
        display: flex;
        /* border: 1px solid green; */
        /* align-items: flex-end; */
        /* justify-items: flex-end; */
        max-width: 350px;
        height: fit-content;
        gap: 10px;
        /* justify-content: flex-end;
        align-content: flex-end;        */
        /* flex-direction: column; */
    }
        .best-deal-header-menu a{
            flex: 1;
            padding: 10px;
            margin: 0;
            max-width: 90px;
            /* align-self: flex-end; */
            color: white;
            background-color: black;
            border-radius: 3px;
            text-decoration: none;
            text-align: center;
        }

        .best-deal-header-menu a:hover{
            background-color: orangered;
        }
.best-deal-content-iframe {
    padding: 0;
    margin: 0;
    height: 500px;
    /* border: 1px solid green; */
}
.best-deal-content-iframe iframe{
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}

/* Properties Section - Home page, A Grid of Property Cards */
.properties {
    background-color: white;
}

/* Properties section heading */
.properties-text-home-page {
    text-align: center;
    padding: 50px 0 0 0;
    margin: 0;
}
.properties-text-home-page p {
    font-size: medium;
    font-weight: bold;
    color: orangered;
}
.properties-text-home-page b {
    font-size: xx-large;
}

/* grid container for property cards */
.property-cards-in-grid {
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1.5rem;

  /* Center the grid content */
  justify-content: center;
  /* align-content: space-evenly; */
  /* width: 100%; */
  /* border: 1px solid; */
}

/* Property Card Design */
.property-card {
    /* display: flex; */
    /* flex: 1;
    flex-wrap: wrap; */
    /* display: inline-block; */
    /* max-width: 300px; */
    /* min-width: 290px; */
    /* max-height: 600px; */
    border: 30px solid rgba(211, 211, 211, 0.1);
    border-radius: 30px;
    background-color: rgba(211, 211, 211, 0.1);
}
/* card image */
.property-card-image {
    /* border: 1px solid red; */
    min-width: 90%;
    max-width: 100%;
    /* flex: 1; */
}
.property-card-image img {
    width: 100%;
    border-radius: 10px;
}
/* card value */
.property-card-value {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    padding: 10px 0;
    
    /* align-content: center; */
}
.prop-type {
    flex: 1;
    padding: 5px;
    margin: 0;
    max-width: fit-content;
    border-radius: 5px;
    background-color: lightpink;
    /* border: 1px solid yellow; */
}
.prop-value {
    flex: 1;
    padding: 0;
    margin: 0;
    color: orangered;
    font-size: larger;
    font-weight: bolder;
    /* justify-self: flex-end; */
    text-align: right;
    /* border: 1px solid green; */
}
/* card address */
.property-card-address {
    font-size: larger;
    font-weight: bolder;
}
/* card features */
.property-card-features {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding: 20px 0;
}
.property-card-features div {
    flex: 0;
    min-width:fit-content;
    padding: 0 15px 5px 0;
}
/* visit link in card */
.property-card-visit {
    text-align: center;
    padding-top: 35px;
}
.property-card-visit a {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid;
}
.property-card-visit a:hover {
    background-color: orangered;
}

/* Contact Us Section of Home Page */
/* .contact-us-section { */
    /* height: 150vh; */
    /* overflow: visible; */
    /* border: 1px solid red; */
/* } */
/* chatgpt code - to fit the background image within the viewport */
.contact-us-section-bg {
    width: 100%;           /* or any fixed width you want */
    /* height: auto; */
    max-width: 100vw;      /* never exceed viewport */
    min-height: 145vh;
    overflow-x: hidden;      /* hides any spill */
    /* overflow-y: hidden; */
    /* padding-bottom: 300px; */
    position: relative;    /* here, the actual containing block of headings, map, etc.,*/
    /* border: 1px solid blue; */
} 
.contact-us-section-bg img {
    width: 100%;           /* makes it fit parent width */
    /* height: auto;          keeps correct proportions */
    /* position: relative; */
    display: block;        
                            /* display: block; removes inline spacing */
    object-fit: cover;     /* optional: fills container evenly */
    max-width: 100%;       /* ensures no overflow */
    /* border: 1px solid violet; */
}
.contact-us-headings {
    text-align: center;
    position:absolute;
    top: 10%;
    left: 40%;
    z-index: 10;
    /* color: black; */
}
.contact-us-headings b {
    color: orangered;
}
.contact-us-headings p {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}
.contact-us-map-and-form {
    display: flex;
    position: absolute;
    top: 25%;
    left: 2%;
    width: 96%;
    justify-content: space-around;
    /* overflow-y: visible; */
    /* z-index: 1000; */
    /* border: 1px solid green; */
}
    .embed-location {
        flex: 1;
        padding: 3%;
        /* border: 1px solid greenyellow; */
        /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); */
    }
            .embed-location iframe {
            width: 100%;
            height: 300px;
            border: none;
            border-radius: 10px;
            }
        .contact-cards {
        display: flex;
        /* padding-top: 5%; */
        
        }
            .ph-no-card {
            flex: 1;
            display: flex;
            align-content: center;
            padding: 0 10px;
            margin: 50px 10px 0;
            /* width: 90%; */
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
            }
                .ph-icon {
                    flex: 1;
                    justify-self: center;
                    align-self: center;
                    border: none;
                }
                .ph-no-text {
                    text-align: left;
                    align-self: center;
                    padding-left: 10px;
                    font-size: small;
                    color: rgb(194, 193, 193);
                    flex: 4;
                }
                .ph-no-text a {
                    /* padding-top: 10px;
                    padding-bottom: 0; */
                    font-weight: bold;
                    /* border: 1px solid; */
                }
                /* .ph-no-text p {
                    border: 1px solid;
                } */
            .email-card {
            flex: 1;
            display: flex;
            padding: 0 10px;
            margin: 50px 10px 0;
            /* max-width: 90%; */
            /* align-items: center; */
            border-radius: 5px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
            }
                .email-icon {
                    flex: 1;
                    justify-self: center;
                    align-self: center;
                    padding: 5px;
                    border: 0;
                    margin: 0;
                }
                .email-text {
                    flex: 4;
                    text-align: left;
                    align-self: center;
                    padding-left: 10px;
                    padding-top: 5px;
                    font-size: small;
                    color: lightgray;
                }
                .email-text a {
                    padding-top: 5px;
                    font-weight: bold;
                }
                /* .email-text p {
                    font
                } */

    .quick-contact-form {
        flex: 1;
        margin: 3%;
        /* margin-bottom: 0; */
        padding: 1% 3% 0% 3%;
        background-color: white;
        border-radius: 10px;
        /* border: 1px solid yellow; */
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
        /* display: flex; */
        /* flex-direction: column; */
    }
        .quick-contact-form form {
            display: flex;
            flex-direction: column;
        }
        .quick-contact-form label {
            flex:1;
            padding: 10px 0;
        }
        .quick-contact-form input {
            flex: 1;
            padding: 10px 0;
            /* margin: 10px 0; */
            background-color: rgba(211, 211, 211, 0.3);
            border: none;
            border-radius: 20px;
        }
        .quick-contact-form form input[type="submit"] {
            padding: 10px 0;
            margin: 30px 0 0;
            min-width: 115px;
            max-width: 120px;
            color: white;
            background-color: black;
        }
        .quick-contact-form form input[type="submit"]:hover {
            background-color: orangered;
        }

footer {
    background-color: black;
    /* padding-left: 10%; */
    padding: 5px;
    /* display: none; */
}
footer p {
    color: beige;
    font-size: small;
    font-style: oblique;
    margin-left: 10%;
}