/* horizontal contacts bar, first row of the page layout*/
a {
    text-decoration: none;
}
hr {
    /* padding: 10px 0; */
    margin: 0;
    border: none;
    border-top: 1px solid lightgray;
}

.hr-contact-bar {
    display: flex;
    padding: 0 5%;
    margin: 10px 0px; 
    justify-content: space-between;
}

.address-links {
    flex: 1;
    display: flex;
    gap: 20px;
    /* justify-content:space-between ; */

}

.icon-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* horizontal menu bar, second row of the page layout */
.hr-menu-bar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding: 0 5%;
    margin: 0;
    /* margin: 1%; */
    /* text-align: center; */
    align-items: center;
    overflow-y: hidden;
}
.hamberger-menu {
    display: none;
}
.page-icon {
    flex: 1;
    padding: auto;
    /* gap: 10px; */
}
.menus {
    flex: 1;
    display: flex;
    justify-items: flex-end;
    justify-content:space-evenly;
    gap: 10px;
    align-items: center;
}
.menus a:hover {
    color: orangered;
}
.visit-link {
    background-color: black;
    color: orangered;
    min-width: 149.5px;
    padding-left: 0px;
    padding-right: 12px;
    border-radius: 20px;
    gap: 1rem;
    text-align: center;
}
.visit-link div i {
    background-color: orangered;
    color: white;
    padding: 12px;
    border-radius: 20px;
    gap: 10px;
}

.banner-hr-scroll {
    display: flex;
    padding: 1%;
    max-width: 100%;
    height: auto;
    gap: 5px;
    justify-content: space-evenly;
    align-content: center;
    /* align-items: ; */
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;

    position: relative; /* ✅ makes stacking context clear */
    z-index: 1;         /* ✅ ensures banners stay below menus */
}

.banner {
    /* background-image: url('images/banner-01.jpg'); */
    /* border: 2px solid black; */
    /* margin: 2px solid red; */
    /* margin: 0; */
    /* flex: 1; */
    position: relative;
    /* display: flex;
    align-items: center; */
    min-width: 100%;
    /* z-index: 0; */
    /* max-height:100%; */
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-items: center; */
}
.banner img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  /* z-in dex: 1; */
}

.prop-info {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 30%;
    left: 30%;
    /* min-width: fit-content; */
    height: 10%;
    padding: 0;
    margin: 0;
    
    justify-items: flex-start;
    justify-content: space-between;

}
.prop-location {
    /* position: absolute; */
    /* border: 1px solid black; */
    /* margin: 1px solid red; */
  /* top: 30%;        move to vertical center */
  /* left: 20%;       move to horizontal center */
  flex: 1;
  transform: translate(-80%, -70%); 
  color: black;
  background-color: white;
  padding: 2px 4px;
  font-size:larger;
  height: min-content;
  width: fit-content;
    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
}
.prop-pitch {
/* position: absolute; */
    /* border: 1px solid black; */
    /* margin: 1px solid red; */
  /* top: 50%;        move to vertical center */
  /* left: 20%;       move to horizontal center */
  flex: 1;
  transform: translate(-28%, -10%); 
  color: white;
  /* background-color: white; */
  font-size: 50px;
  font-weight: bold;
  /* text-shadow: 2px 2px 4px rgba(0,0,0,0.5); */
}






footer {
    background-color: black;
    /* padding-left: 10%; */
    padding: 5px;
}
footer p {
    color: beige;
    font-size: small;
    font-style: oblique;
    margin-left: 10%;
}