@media screen and (min-width: 426px) and (max-width: 1024px) {
.address-links {
  flex: 2;
  }
.menus {
  flex: 3;
}

.prop-info {
  top: 30%;
  left: 30%;
  height: 10%;
}
.prop-location {
  transform: translate(-80%, -70%); 
  padding: 2px 4px;
  font-size: medium;
}
.prop-pitch {
  transform: translate(-37%, -10%); 
  font-size: xx-large;
  font-weight: bold;
}

/* featured section - container */
.featured {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(2,fr); */
}
/* featured section - left column (desktop) */
.featured-image {
  order: 1;
  min-width: 30vw;
  /* grid-template-columns: repeat(2,fr); */
  flex: 1;
  margin: 0% 4%;
  border: 1px solid;
}

/* featured section - middle column (desktop) */
.featured-details {
  order: 3;
  flex: 2;
  min-width: 80vw;
}

/* featured section - right column (desktop) */
.featured-info {
  order: 2;
  min-width: 30vw;
    /* grid-template-columns: repeat(2,fr); */

  flex: 1;
  margin: 0% 4%;
}
}