@media screen and (min-width: 426px) and (max-width: 1024px) {
.address-links {
  flex: 2;
  }
.menus {
  flex: 3;
}

.prop-info {
  top: 30%;
  left: 30%;
  height: 10%;
}
.prop-location {
  transform: translate(-80%, -70%); 
  padding: 2px 4px;
  font-size: medium;
}
.prop-pitch {
  transform: translate(-37%, -10%); 
  font-size: xx-large;
  font-weight: bold;
}

/* featured section - container */
.featured {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(2,fr); */
}
.title-featured-mobile-vw {
  display: block;
  font-size: 100%;
    font-weight: bolder;
    color: orangered;
    width: 90%;
  margin: 0px auto;
}
.heading-featured-mobile-vw {
  display: block;
  font-size: 200%;
    font-weight: bolder;
    /* color: orangered; */
    width: 90%;
  margin: 20px auto;
}
/* featured section - left column (desktop) */
.featured-image {
  order: 1;
  min-width: 30vw;
  /* grid-template-columns: repeat(2,fr); */
  flex: 1;
  margin: 0% 4%;
  border: 1px solid;
}

/* featured section - middle column (desktop) */
.featured-details {
  order: 3;
  flex: 2;
  min-width: 80vw;
}
.title-featured {
  display: none;
}
.heading-featured {
  display: none;
}

/* featured section - right column (desktop) */
.featured-info {
  order: 2;
  min-width: 30vw;
    /* grid-template-columns: repeat(2,fr); */

  flex: 1;
  margin: 0% 4%;
}

.video-view-bg-text {
    top: 40px;
    /* align-self: center; */
    /* left: 35%; */
}
.video-view-bg-text .title{
    padding-bottom: 0;
    font-size: medium;
}
.video-view-bg-text p {
    font-size: large;
    padding-top: 0;
    /* font-weight: bolder;
    color: white; */
}
.video-view-footer {
  margin-top: 190px;
}

/* Best Deal Section */
/* .best-deal-header {
  border: 1px solid;
} */
.best-deal-header-text {
  min-width: 100%;
  margin-bottom: 20px;
}
.best-deal-header-menu {
  /* width: 100%; */
  max-width: 100%;
  justify-content:space-evenly;
  /* border: 1px solid; */
}

/* Property Section - cards arranged in grid container */
.property-cards-in-grid {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
}
}